<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label t('.name') %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.datetime_local_field :started_at %>
  </div>

  <div class="field">
    <%= form.label :place %>
    <%= form.select :place_id, options_from_collection_for_select(Place.all, :id, :full_adress)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>