<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration %>
  </div>

  <div class="field">
    <%= form.label :started_at %>
    <%= form.datetime_local_field :started_at %>
  </div>

  <% if event.new_record?%>
    <div class="field">
      <%= form.label :place %>
      <%= form.select :place_id, options_from_collection_for_select(places, :id, :full_adress)%>
    </div>
  <% else %>
    <%= form.fields_for :place_attributes, event.place do |place_form| %>
      <%= render 'places/input_fields', place_form: place_form %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>