<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, t('.error')) %> <%= t('.prohibited_event') %></h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="name"> <%= t('.name')%> </label>
    <input type="text_field" class="form-control">
  </div>

  <div class="form-group">
    <label for="duration"> <%= t('.duration')%> </label>
    <input type="text_field" class="form-control">
  </div>

  <div class="form-group">
    <label for="started_at"> <%= t('.started_at')%> </label>
    <div class='input-group date' id='datetimepicker1'>
    <input type='text' class="form-control" />
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
      </span>
  </div>

  <% if event.new_record? %>
    <div class="field">
      <%= form.label :place %>
      <%= form.select :place_id, options_from_collection_for_select(places, :id, :full_adress), class: "form-control" %>
    </div>
  <% else %>
    <%= form.fields_for :place_attributes, event.place do |place_form| %>
      <%= render 'places/input_fields', place_form: place_form %>
    <% end %>
  <% end %>

  <div class="actions">
    <button type="form.submit" class="btn btn-primary"> <%= t('.submit')%> </button>
  </div>
<% end %>