<div class="container">
  <h1> <%= t('.events') %> </h1>
  <table class= "table table-hover">
    <thead>
      <tr>
        <th> <%= Event.human_attribute_name(:name) %> </th>
        <th><%= Event.human_attribute_name(:duration) %> </th>
        <th><%= Event.human_attribute_name(:started_at) %> </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.duration %></td>
          <td><%= event.started_at %></td>
          <td><%= link_to t('links.show'), event %></td>
          <td>
            <% if can? :manage, event %>
              <%= link_to t('links.edit'), edit_event_path(event) %>
            <% end %>
          <td>
            <% if event.has_member?(current_user) %>
              <%= t('.you_are_member') %>
              <%= link_to t('links.delete_me'), event_members_path(event), method: :delete %>
            <% else %>
              <%= link_to t('links.add_me'), event_members_path(event), method: :post %>
            <% end %>
          </td>
          <td>
            <% if can? :manage, event %>
              <%= link_to t('links.destroy'), event, method: :destroy, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('.new_event'), new_event_path %>
  <br>
  <%= link_to t('.show_places'), places_path %>
</div>