<div class="container">
  <table class= "table table-hover">
    <thead>
      <tr>
<div class="container">
  <h1> <%= t('.events') %> </h1>
  <tbody>
  <table class= "table table-hover">
    <thead>
          <% @events.each do |event| %>
      <tr>
        <th> <%= t('.name_event') %> </th>
        <th><%= t('.duration') %> </th>
        <th><%= t('.start_at') %> </th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Event', new_event_path %>
  <br>
  <%= link_to 'Show me places', places_path %>
</div>