<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Started at:</strong>
  <%= @event.started_at %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>List of users of this event:</strong>
  <%= @event.members.each do |user| %>
    <li> <%= link_to user.email, user_path(user) %> </li>
  <% end %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place.full_adress %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>

<%= link_to 'Show me places', places_path %>