<div class="container">
  <p>
    <strong><%= Event.human_attribute_name(:status) %></strong>
    <span class="badge badge-secondary"><%= t("statuses.#{@event.status}") %></span>
  </p>

  <p>
    <strong><%= Event.human_attribute_name(:name) %> </strong>
    <%= @event.name %>
  </p>

  <p>
    <strong><%= Event.human_attribute_name(:started_at) %></strong>
    <%= @event.started_at %>
  </p>

  <p>
    <strong><%= Event.human_attribute_name(:duration) %></strong>
    <%= @event.duration %>
  </p>

  <p>
    <% if @event.has_member?(current_user) %>
      <%= t('.you_are_member') %> <br>
      <%= link_to t('links.delete_me'), event_members_path(@event), method: :delete %> <br>
    <% else %>
      <%= link_to t('links.add_me'), event_members_path(@event), method: :post %><br>
    <% end %>

    <strong> <%= t('.users_of_events')%></strong>
    <ul>
      <% @event.members.each do |user| %>
        <li> <%= user.email %> </li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong><%= Place.model_name.human %></strong>
    <%= @event.place.full_adress %>
  </p>

  <div class="container float-right">
    <% if can? :manage, @event %>
      <%= link_to t('links.edit'), edit_event_path(@event) %> |
    <% end %>
      <%= link_to t('links.back'), events_path %> |
      <%= link_to t('links.show_me_places'), places_path %>
  </div>
</div>