<div class="container">
  <p>
    <strong><%= t('.name')%></strong>
    <%= @event.name %>
  </p>

  <p>
    <strong><%= t('.start_at')%></strong>
    <%= @event.started_at %>
  </p>

  <p>
    <strong><%= t('.duration')%></strong>
    <%= @event.duration %>
  </p>

  <p>
    <strong>List of users of this event:</strong>
    <ul>
      <% @event.members.each do |user| %>
        <li> <%= user.email %> </li>
      <% end %>
    </ul>
  </p>

  <p>
    <strong><%= t('.place')%></strong>
    <%= @event.place.full_adress %>
  </p>

  <%= link_to t('links.edit'), edit_event_path(@event) %> |
  <%= link_to t('links.back'), events_path %>

  <%= link_to t('links.show_me_places'), places_path %>
</div>