<div class="container">
  <%= form_with(model: @setting, local: true) do |form| %>
    <div class="field">
      <%= form.label :locale %>
      <%= form.select :locale, Setting.locales.keys %>
    </div>

    <div class="actions">
      <button type="form.submit" class="btn btn-primary"> <%= t('.save_changes')%> </button>
    </div>
  <% end %>
  <br>
  <br>

  <h2> <%= t('.take_part_event') %> </h2>
  <h3><%= t('.take_part') %></h3>
  <ul>
    <% @user.events.each do |event| %>
      <li> <%= link_to event.name, event_path(event) %> </li>
    <% end %>
  </ul>

  <h3><%= t('.created_events') %></h3>
  <ul>
    <% @user.owned_events.each do |event| %>
      <li> <%= link_to event.name, event_path(event) %> </li>
    <% end %>
  </ul>

</div>
