<div class="container">
  <%= form_with(model: place, local: true) do |form| %>
    <% if place.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

        <ul>
        <% place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label Place.human_attribute_name("name") %>
      <input type="name" class="form-control" %>
    </div>

    <div class="form-group">
      <%= form.label Place.human_attribute_name("adres") %>
      <input type="address" class="form-control" %>
    </div>

    <div>
      <button type="submit" class="btn btn-primary mb-2"><%= t(".submit")%></button>
    </div>
  <% end %>
</div>