<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="/events" role="button">Show me EVENTS</a>
  </div>
</div>

<div class=container>
  <h1>Places</h1>

  <div class="container">
      <div class="row">
        <% @places.each do |place| %>
          <div class="col-md-4">
            <h2><%= place.name %></h2>
            <p><%= place.address %></p>
            <p><a class="btn btn-secondary" href="place" role="button">Show »</a></p>
            <p><a class="btn btn-secondary" href= edit_place_path(place)role="button">Edit »</a></p>
            <p><a class="btn btn-secondary" href="place" role="button">Destroy »</a></p>
          </div>
        <% end %>
      </div>


</div>  <%#container%>


        <%# <td><%= link_to 'Show', place %></td> %>
        <%# <td><%= link_to 'Edit', edit_place_path(place) %></td> %>
        <%# <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
      <%# </tr> %>
  <%# </tbody> %> %>
<%# </table> %> %>

<br>

<%= link_to 'New Place', new_place_path %>


