<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> <%= t('.title')%> </h1>
    <p class="lead"> <%= t('.second_title')%> </p>
    <hr class="my-4">
    <p> <%= t('.third_title')%> </p>
    <%= link_to t('.showmeevents'), events_path, :class => "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <h1> <%= t('.indexplace') %> </h1>
  <div class="row">
    <% @places.each do |place| %>
      <div class="col-md-4">
        <h2><%= place.name %></h2>
        <p><%= place.address %></p>
        <p><%= link_to t('.show'), place_path(place), class: "btn btn-secondary btn-xs" %></p>
        <p><%= link_to t('.edit'), edit_place_path(place) %></p>
        <p><%= link_to t('.destroy'), place, method: :delete, data: { confirm: t('.sure') } %></p>
      </div>
    <% end %>
    <br>
    <%= link_to t('.newplace'), new_place_path, :class => "btn btn-secondary btn-lg btn-block" %>
  </div>
</div>  <%#container%>

<div class= "container">
  <br>
  <%= link_to t('.showevents'), events_path, :class => "btn btn-secondary btn-lg btn-block" %></td>
  <br>
</div>
<div class="front-page-map">
</div>
