<div class="container">
  <p>
    <strong> <%= t('.name') %> </strong>
    <%= @place.name %>
  </p>

  <p>
    <strong> <%= t('.adres') %> </strong>
    <%= @place.address %>
  </p>

  <%= link_to t('links.edit'), edit_place_path(@place) %> |
  <%= link_to t('links.back'), places_path %>
</div>