<div class="container">
  <p>
    <strong> <%= Place.human_attribute_name(:name) %> </strong>
    <%= @place.name %>
  </p>

  <p>
    <strong> <%= Place.human_attribute_name(:address) %> </strong>
    <strong> <%= Event.human_attribute_name(:adres) %> </strong>
    <%= @place.address %>
  </p>

  <%= link_to t('links.edit'), edit_place_path(@place) %> |
  <%= link_to t('links.back'), places_path %>
</div>