<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MapApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/places">Places</a>
      </li>
    </ul>
  </div>

  <div class="container logininfo">
      <% if user_signed_in? %>
        <a href="#" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-user"></span> <%= current_user.email %>
        </a>
        <%= link_to "Logout ", destroy_user_session_path, method: :delete, :class => 'btn btn-default btn-sm glyphicon glyphicon-log-out'%>
      <% else %>
        <%= link_to "Login ", new_user_session_path, :class => 'btn btn-default btn-sm glyphicon glyphicon-log-in'%>
      <% end %>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class=container logininfo>
      <% if user_signed_in? %>
        <a href="#" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-user"></span> <%= current_user.email %>
        </a>
        <%= link_to "Logout ", destroy_user_session_path, method: :delete, :class => 'btn btn-default btn-sm glyphicon glyphicon-log-out'%>
      <% else %>
        <%= link_to "Login ", new_user_session_path, :class => 'btn btn-default btn-sm glyphicon glyphicon-log-in'%>
      <% end %>
  </div>
</nav>