<!DOCTYPE html>
<html>
  <head>
    <title>Mapapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "layouts/navbar" %>
      
      <div class=container logininfo>
      <% if user_signed_in? %> 
        <p> Loged in as: <%= current_user.email %></p>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'%>
      <% else %>
        <p> Unlogged </p>
      <% end %>
    </div>

    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
